.img_i{
    vertical-align: middle;
    display: inline-block;
    background: url("../img/img.png") no-repeat ;
}
.mi_23{height:31px;width:24px;background-position:0 0;}
.mi_24{height:31px;width:24px;background-position:0 -31px;}
.mi_25{height:31px;width:24px;background-position:0 -62px;}
.mi_14{height:26px;width:24px;background-position:0 -93px;}
.mi_16{height:26px;width:24px;background-position:0 -119px;}
.mi_18{height:26px;width:24px;background-position:0 -145px;}
.小米_03{height:25px;width:25px;background-position:0 -171px;}
.mi_76{height:30px;width:30px;background-position:0 -196px;}
.mi_79{height:30px;width:30px;background-position:0 -226px;}
.mi_73{height:30px;width:30px;background-position:0 -256px;}
.mi_69{height:30px;width:30px;background-position:0 -286px;}
.mi_71{height:30px;width:30px;background-position:0 -316px;}
.mi_48{height:50px;width:50px;background-position:0 -346px;}
.mi_86{height:57px;width:58px;background-position:0 -396px;}
.小米_53{height:30px;width:80px;background-position:0 -453px;}
.mi_91{height:28px;width:85px;background-position:0 -483px;}
.mi_93 {height:28px;width:85px;background-position:0 -511px;}
.mi_94{height:28px;width:85px;background-position:0 -539px;}
.mi_89{height:30px;width:100px;background-position:0 -567px;}